@use '../../styles/Config/config';

/*Containers*/
.home-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  // overflow: hidden;
}

header{
  border-bottom: 1px solid black;
  background-color: config.$primary-color;
  font-weight: 700;
  font-style: bold;
}

header div {
    color: config.$secondary-color;
}

section.home-body {
  margin: auto;
}

form {
  border: 1px solid rgb(172, 168, 168);
  padding: 4em;
  border-radius: 1%;
}

.form-field-container {
  margin: 0 auto;
  margin-bottom: 25px;

}

.home-body {
  margin-bottom: 0;
}


.account-help {
  margin-top: 15px;
}

footer {
  background-color: config.$primary-color;
  height: 100px;
  margin-top: auto;
}


/*Elements*/
.login-greeting {
  color: rgb(56, 55, 55);
}

header:first-child {
  padding-top: .25em;
}

.login-form label{
  display: inline-block;
  width: 20%;
  margin-right: 25px;
  text-align: left;
}

.login-form input {
  display: inline-block;
  border:none;
  border-bottom: 1px solid rgb(172, 168, 168);
}

form a{
  text-decoration: none;
}

.forgot-password {
  font-weight: 0;
}

.create-account {
  font-weight: 700;
  // color
}

form a:visited{
  color: inherit;
}

form a:hover{
  color: blue;
}
