@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,600;1,700&display=swap');

$primary-color: red;
$secondary-color: white;
$accent-color: black;
$profile-background: rgb(151, 25, 25);

* {
    font-family: 'Libre Franklin', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}